.input {
    outline: none;
    border-radius: 4px;
    border: 1px solid #979595;
    font-size: 14px;
    width: -webkit-fill-available;
    padding: 6px;
}

.input::placeholder{
    color: #838383;
}