body {
    background-color: #6dd5ed;
    font-family: 'Roboto', sans-serif;
}

.app {
    margin: 0 auto;
    max-width: 1024px;
}

.title {
    font-size: 42px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 2.4fr;
    background-color: #FFFFFF;
    box-shadow: 1px 4px 6px 1px #2193b0;
    min-height: 600px;
}

